@model SF.DATA.EF.Category

@{
    ViewBag.Title = "Category Details";
}

<hr />
<div class="container">
    <h2>@ViewBag.Title</h2>

    <div>
        <dl class="ml-3">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MainCategory.MainCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MainCategory.MainCategoryName)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-outline-warning mb-5 ml-3" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-warning mb-5 ml-3" })
    </p>
</div>
