<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Store Front</title>
    <meta name="description" content="The biggest eStore for all your sporting good needs.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/bundles/Content/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <link rel="shortcut icon" type="image/jpg" href="~/Content/img/SFicon.png" />
    @RenderSection("styles", required: false)
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="page-holder">
        <!-- NAVBAR-->
        <header class="header bg-white">
            <div class="container px-0 px-lg-3">
                <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
                    <a class="navbar-brand" href="@Url.Action("Index", "Shop")"><span class="font-weight-bold text-uppercase text-dark">Store Front</span></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item dropdown" id="dropDownList">
                                <a class="nav-link dropdown-toggle" id="pagesDropdown" href="@Url.Action("Index", "Shop")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Shop")">All Product's</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Mens_Clothing", "Shop")">Men's Clothing</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Womens_Clothing", "Shop")">Women's Clothing</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Boys_Clothing", "Shop")">Boys' Clothing</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Girls_Clothing", "Shop")">Girls' Clothing</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Camping", "Shop")">Camping</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Fishing", "Shop")">Fishing</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Outdoor_Cooking", "Shop")">Outdoor Cooking</a>
                                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Backyard_Recreation", "Shop")">Backyard Recreation</a>
                                </div>
                            </li>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown" id="dropDownList2">
                                    <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                    <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Categories")">Categories</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "MainCategories")">Main Categories</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Customers")">Customers</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Employees")">Employees</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Orders")">Orders</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Products")">Products</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Shippers")">Shippers</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Suppliers")">Suppliers</a>
                                        <hr />
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "UsersAdmin")">Users Admin</a>
                                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "RolesAdmin")">User Roles Admin</a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Cart")"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-gray">(@(Session["itemsInCart"] != null ? Session["itemsInCart"] : 0))</small></a></li>
                            <li class="nav-item">@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        @RenderBody()
        <!-- FOOTER -->
        <footer class="bg-dark text-white mt-2">
            <div class="container py-4">
                <div class="border-top pt-4" style="border-color: #1d1d1d !important">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="small text-muted mb-0">&copy; @DateTime.Now.Year All rights reserved.</p>
                        </div>
                        <div class="col-lg-6 text-lg-right">
                            <p class="small text-muted mb-0">Developed by <a class="text-white reset-anchor" target="_blank" href="https://www.linkedin.com/in/ryan-p-1b92701ab/">Ryan Pflugradt</a></p>
                            <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor" target="_blank" href="https://bootstraptemple.com/p/bootstrap-ecommerce">Bootstrap Temple</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JS FILES -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script>
            function injectSvgSprite() {

                var ajax = new XMLHttpRequest();
                ajax.open("GET", "/content/icons/orion-svg-sprite.svg", true);
                ajax.send();
                ajax.onload = function (e) {
                    var div = document.createElement("div");
                    div.className = 'd-none';
                    div.innerHTML = ajax.responseText;
                    document.body.insertBefore(div, document.body.childNodes[0]);
                }
            }
            injectSvgSprite();
        </script>
        @RenderSection("scripts", required: false)
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
</body>
</html>