@model StoreFront.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<hr />

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning mb-5" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-warning mb-5" })
    </p>
</div>



