@model IEnumerable<StoreFront.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "User Administration";
}

<hr />

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-warning" })
    </p>
    <table class="table table-hover table-borderless">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
