@model Dictionary<int, StoreFront.UI.MVC.Models.ShoppingCartViewModel>

@{
    ViewBag.Title = "Shopping Cart";

    decimal? cartTotal = 0;
    int totalCountofItems = 0;
    int totalUnitsInCart = 0;
}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Cart</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <!-- CART TABLE-->
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead class="bg-light">
                            <tr>
                                <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
                                <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
                                <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
                                <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
                                <th class="border-0" scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="pl-0 border-0" scope="row">
                                        <div class="media align-items-center">
                                            <a class="reset-anchor d-block animsition-link" href="@Url.Action("Detail", "Shop", new { id = item.Value.Product.ProductID })">
                                                <img src="~/content/img/t_@item.Value.Product.ImageUrl" alt="@item.Value.Product.ProductName" width="70" />
                                            </a>
                                            <div class="media-body ml-3">
                                                <strong class="h6">
                                                    <a class="reset-anchor animsition-link" href="@Url.Action("Detail", "Shop", new { id = item.Value.Product.ProductID })">@item.Value.Product.ProductName</a>
                                                </strong>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle border-0">
                                        <p class="mb-0 small">@item.Value.Product.UnitPrice.ToString("c")</p>
                                    </td>
                                    <td class="align-middle border-0">
                                            @using (Html.BeginForm("UpdateCart", "Cart", new { productID = item.Value.Product.ProductID }, FormMethod.Post, new { @class = "d-flex" }))
                                            {
                                                @Html.TextBox("Qty", item.Value.Qty, new { @class = "form-control d-flex text-center", style = "max-width: 50px;" })
                                                <input type="submit" value="Update" class="btn btn-dark h-100 align-items-center justify-content-center d-flex" />
                                            }
                                        @{
                                            totalCountofItems += item.Value.Qty;
                                            totalUnitsInCart += item.Value.Qty;
                                        }
                                    </td>
                                    <td class="align-middle border-0">
                                        <p class="mb-0 small">
                                            @{
                                                decimal? lineTotal = item.Value.Product.UnitPrice * item.Value.Qty;
                                                cartTotal += lineTotal;
                                            }
                                            @string.Format($"{lineTotal:c}")
                                        </p>
                                    </td>
                                    <td class="align-middle border-0"><a class="reset-anchor" href="@Url.Action("RemoveFromCart", "Cart", new { id = item.Value.Product.ProductID })"><i class="fas fa-trash-alt small text-muted"></i></a></td>
                                </tr>
                            }
                            @{Session["itemsInCart"] = totalUnitsInCart;}
                        </tbody>
                    </table>
                </div>
                <!-- CART NAV-->
                <div class="bg-light px-4 py-3">
                    <div class="row align-items-center text-center">
                        <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a class="btn btn-link p-0 text-dark btn-sm" href="@Url.Action("Index", "Shop")"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a></div>
                        <div class="col-md-6 text-md-right"><a class="btn btn-outline-dark btn-sm disabled" href="#">Procceed to checkout<i class="fas fa-long-arrow-alt-right ml-2"></i></a></div>
                    </div>
                </div>
                <div class="text-info text-right">Checkout not functional, this demo site is not connected to a payment processor.</div>
            </div>
            <!-- ORDER TOTAL-->
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Cart total</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Subtotal</strong>
                                <span class="text-muted small">@string.Format($"{cartTotal:c}")</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">8.25% Tax</strong>
                                <span class="text-muted small">@string.Format($"{(cartTotal * 0.0825m):c}")</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Shipping</strong>
                                <span class="text-muted small">Free</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Total</strong><span>@string.Format($"{(cartTotal * 1.0825m):c}")</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>