@model SF.DATA.EF.Order

@{
    ViewBag.Title = "Create an Order";
}

<hr />

<div class="container">
    <div class="container">
        <h2>@ViewBag.Title</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShippedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShippedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipVia, "ShipVia", htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ShipVia", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShipVia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Freight, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Freight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Freight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShipName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShipAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipState, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShipState, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipState, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @class = "text-secondary col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShipPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipPostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-outline-warning" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-warning mb-5 ml-3" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
